Repository lesha1201/commutox: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, npm run test -- --ci --findRelatedTests

fix: <Header /> doesn't work properly in some browsers
  src/app/shared/components/Header/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

chore: add Element to Window's interface
  src/app/models/global.d.ts
Due: tslint, npm run test -- --ci --findRelatedTests

fix(docz): default plugins not working
  doczrc.js
Due: npm run test -- --ci --findRelatedTests

chore: update path to new utils structure
  src/app/shared/ui-kit/Form/compounds/FormGroup/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: corejs-3 for babel, namedExports: false for css-modules
  .babelrc
  doczrc.js
  src/app/app.scss.d.ts
  src/app/index.tsx
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/pages/sign/components/SignForm/sign-form.scss.d.ts
  src/app/pages/sign/components/Tabs/index.tsx
  src/app/pages/sign/components/Tabs/tabs.scss.d.ts
  src/app/pages/sign/index.tsx
  src/app/pages/sign/sign-page.scss.d.ts
  src/app/shared/components/Header/header.scss.d.ts
  src/app/shared/components/Header/index.tsx
  src/app/shared/docz-helpers/Margin/index.tsx
  src/app/shared/docz-helpers/Margin/margin.scss.d.ts
  src/app/shared/docz-helpers/Wrapper/index.tsx
  src/app/shared/docz-helpers/Wrapper/wrapper.scss.d.ts
  src/app/shared/icons/docs/IconsStory.tsx
  src/app/shared/icons/docs/style.scss.d.ts
  src/app/shared/ui-kit/Avatar/avatar.scss.d.ts
  src/app/shared/ui-kit/Avatar/docs/AvatarStory.tsx
  src/app/shared/ui-kit/Avatar/docs/avatar-story.scss.d.ts
  src/app/shared/ui-kit/Avatar/index.tsx
  src/app/shared/ui-kit/Button/button.scss.d.ts
  src/app/shared/ui-kit/Button/index.tsx
  src/app/shared/ui-kit/Form/compounds/FormField/index.tsx
  src/app/shared/ui-kit/Form/compounds/FormGroup/index.tsx
  src/app/shared/ui-kit/Form/form.scss.d.ts
  src/app/shared/ui-kit/Form/index.tsx
  src/app/shared/ui-kit/Input/index.tsx
  src/app/shared/ui-kit/Input/input.scss.d.ts
  src/app/shared/ui-kit/Label/index.tsx
  src/app/shared/ui-kit/Label/label.scss.d.ts
  src/app/shared/ui-kit/Link/index.tsx
  src/app/shared/ui-kit/Link/link.scss.d.ts
  src/app/style/main.scss.d.ts
  src/main.tsx
  webpack/webpack.dev.js
Due: tslint, npm run test -- --ci --findRelatedTests

chore(docs): update PropsTable to Props, fix Button docs
  src/app/shared/ui-kit/Avatar/docs/Avatar.mdx
  src/app/shared/ui-kit/Button/Button.mdx
  src/app/shared/ui-kit/Input/Input.mdx
  src/app/shared/ui-kit/Label/Label.mdx
  src/app/shared/ui-kit/Link/Link.mdx
Due: none

chore(icons): add <Icon /> component, change folder structure
  src/app/shared/icons/__tests__/__snapshots__/icon.test.tsx.snap
  src/app/shared/icons/__tests__/icon.test.tsx
  src/app/shared/icons/docs/Icons.mdx
  src/app/shared/icons/docs/IconsStory.tsx
  src/app/shared/icons/docs/style.scss
  src/app/shared/icons/docs/style.scss.d.ts
  src/app/shared/icons/icon.scss
  src/app/shared/icons/icon.scss.d.ts
  src/app/shared/icons/icons/Chat/index.tsx
  src/app/shared/icons/icons/Logout/index.tsx
  src/app/shared/icons/icons/Menu/index.tsx
  src/app/shared/icons/icons/Search/index.tsx
  src/app/shared/icons/icons/Settings/index.tsx
  src/app/shared/icons/icons/index.ts
  src/app/shared/icons/index.ts
  src/app/shared/icons/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

feat: add <Drawer /> component
  src/app/shared/components/Drawer/docs/Drawer.mdx
  src/app/shared/components/Drawer/drawer.scss
  src/app/shared/components/Drawer/drawer.scss.d.ts
  src/app/shared/components/Drawer/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

feat: add <ButtonIcon /> component
  src/app/shared/components/ButtonIcon/button-icon.scss
  src/app/shared/components/ButtonIcon/button-icon.scss.d.ts
  src/app/shared/components/ButtonIcon/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

chore: add index for shared components
  src/app/shared/components/index.ts
Due: tslint, npm run test -- --ci --findRelatedTests

fix(docz-helpers): Frame doesn't have doctype
  src/app/shared/docz-helpers/Frame/index.tsx
  src/app/shared/docz-helpers/index.ts
Due: tslint, npm run test -- --ci --findRelatedTests

feat(utils): add toCamelCase function
  src/app/shared/utils/string/index.ts
  src/app/shared/utils/string/toCamelCase/index.ts
  src/app/shared/utils/string/toCamelCase/toCamelCase.test.ts
Due: tslint, npm run test -- --ci --findRelatedTests

feat: add <Counter /> component
  src/app/shared/components/Counter/counter.scss
  src/app/shared/components/Counter/counter.scss.d.ts
  src/app/shared/components/Counter/index.tsx
  src/app/shared/components/index.ts
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update declaration files for stylesheets
  src/app/shared/components/ButtonIcon/button-icon.scss.d.ts
  src/app/shared/components/Counter/counter.scss.d.ts
  src/app/shared/components/Drawer/drawer.scss.d.ts
  src/app/shared/icons/icon.scss.d.ts
Due: tslint, npm run test -- --ci --findRelatedTests

feat(feed): add <MessageCard />
  src/app/pages/feed/components/MessageCard/index.tsx
  src/app/pages/feed/components/MessageCard/message-card.scss
  src/app/pages/feed/components/MessageCard/message-card.scss.d.ts
  src/app/pages/feed/design/index.tsx
  src/app/pages/feed/design/style.scss
  src/app/pages/feed/design/style.scss.d.ts
  src/app/shared/ui-kit/sass/_variables.scss
Due: tslint, npm run test -- --ci --findRelatedTests

feat(feed): add <Drawer /> component
  src/app/pages/feed/components/Drawer/drawer.scss
  src/app/pages/feed/components/Drawer/drawer.scss.d.ts
  src/app/pages/feed/components/Drawer/index.tsx
  src/app/pages/feed/components/MessageCard/message-card.scss
  src/app/style/abstracts/_variables.scss
Due: tslint, npm run test -- --ci --findRelatedTests

feat(feed): finish base UI of the page
  src/app/pages/feed/feed.scss
  src/app/pages/feed/feed.scss.d.ts
  src/app/pages/feed/index.tsx
  src/app/style/abstracts/_variables.scss
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update dependencies, fixes
  .lintstagedrc
  doczrc.js
  jest.config.js
  package-lock.json
  package.json
  test/identity-obj-proxy.js
  webpack/webpack.common.js
  webpack/webpack.prod.js
Due: npm run test -- --ci --findRelatedTests

chore: add babel support for dynamic import
  .babelrc
Due: none

chore: add route based code-splitting
  src/app/index.tsx
  src/app/routes/chat.ts
  src/app/routes/feed.ts
  src/app/routes/not-found.ts
  src/app/routes/settings.ts
  src/app/routes/sign.ts
Due: tslint, npm run test -- --ci --findRelatedTests

feat(utils): add 'get' function for objects
  src/app/shared/utils/object/get/get.test.ts
  src/app/shared/utils/object/get/index.ts
  src/app/shared/utils/object/index.ts
Due: tslint, npm run test -- --ci --findRelatedTests

chore(components): FormContainer debounce onChange when needed
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/shared/components/FormContainer/index.tsx
  src/app/shared/ui-kit/Input/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update deps
  package-lock.json
  package.json
  src/app/app.scss
  src/app/pages/feed/components/Drawer/drawer.scss
  src/app/pages/feed/components/MessageCard/message-card.scss
  src/app/pages/feed/feed.scss
  src/app/pages/sign/components/SignForm/sign-form.scss
  src/app/pages/sign/components/Tabs/tabs.scss
  src/app/pages/sign/sign-page.scss
  src/app/shared/components/Counter/counter.scss
  src/app/shared/icons/docs/style.scss.d.ts
  src/app/shared/ui-kit/Avatar/avatar.scss
  src/app/shared/ui-kit/Avatar/docs/Avatar.mdx
  src/app/shared/ui-kit/Button/Button.mdx
  src/app/shared/ui-kit/Button/button.scss
  src/app/shared/ui-kit/Form/Form.mdx
  src/app/shared/ui-kit/Form/form.scss
  src/app/shared/ui-kit/Input/Input.mdx
  src/app/shared/ui-kit/Input/input.scss
  src/app/shared/ui-kit/Label/Label.mdx
  src/app/shared/ui-kit/Label/label.scss
  src/app/shared/ui-kit/Link/link.scss
  src/app/style/abstracts/_variables.scss
  src/app/style/main.scss
  webpack/webpack.dev.js
  webpack/webpack.prod.js
Due: tslint, npm run test -- --ci --findRelatedTests

refactor: rename models folder to types
  src/app/shared/components/ButtonIcon/index.tsx
  src/app/shared/ui-kit/Button/index.tsx
  src/app/state/index.ts
  src/app/state/rootReducer.ts
  src/app/types/common.ts
  src/app/types/global.d.ts
  src/app/types/state.ts
Due: tslint, npm run test -- --ci --findRelatedTests

chore: remove docz remnants
  doczrc.js
  package.json
Due: npm run test -- --ci --findRelatedTests

refactor: change comments styles
  Documentation.md
  src/app/pages/feed/index.tsx
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/pages/sign/components/Tabs/index.tsx
  src/app/shared/components/Drawer/index.tsx
  src/app/shared/components/FormContainer/index.tsx
  src/app/shared/components/Header/index.tsx
  src/app/shared/icons/index.tsx
  src/app/shared/ui-kit/Avatar/index.tsx
  src/app/shared/ui-kit/Button/index.tsx
  src/app/shared/ui-kit/Form/compounds/FormField/index.tsx
  src/app/shared/ui-kit/Form/compounds/FormGroup/index.tsx
  src/app/shared/ui-kit/Form/index.tsx
  src/app/shared/ui-kit/Input/index.tsx
  src/app/shared/ui-kit/Label/index.tsx
  src/app/shared/ui-kit/Link/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update deps (storybook and prettier mostly)
  .prettierignore
  .prettierrc
  .storybook/addons.js
  .storybook/config.js
  .storybook/main.js
  .storybook/manager.js
  .storybook/presets.js
  .storybook/preview.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/shared/components/ButtonIcon/index.tsx
  src/app/shared/components/FormContainer/index.tsx
  src/app/shared/icons/index.tsx
  src/app/shared/ui-kit/Button/index.tsx
  src/app/shared/ui-kit/Link/index.tsx
  src/app/types/common.ts
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update deps (major versions)
  .lintstagedrc
  cypress/support/index.js
  cypress/tsconfig.json
  jest.config.js
  package-lock.json
  package.json
  src/app/shared/icons/__tests__/icon.test.tsx
  src/app/shared/ui-kit/Button/Button.test.tsx
  src/app/shared/ui-kit/Input/Input.test.tsx
  src/app/shared/ui-kit/Label/Label.test.tsx
  test/setupTests.js
  webpack/webpack.common.js
  webpack/webpack.prod.js
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update deps
  .eslintrc.js
  package-lock.json
  package.json
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/pages/sign/index.tsx
  src/app/shared/components/FormContainer/index.tsx
  src/app/shared/ui-kit/Input/index.tsx
  src/app/shared/ui-kit/Link/link.stories.mdx
  src/app/shared/utils/object/contains-all-keys/index.ts
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update deps
  .eslintrc.js
  .storybook/main.js
  package-lock.json
  package.json
  src/app/app.scss.d.ts
  src/app/pages/feed/components/Drawer/drawer.scss.d.ts
  src/app/pages/feed/components/Drawer/index.tsx
  src/app/pages/feed/components/MessageCard/message-card.scss.d.ts
  src/app/pages/feed/feed.scss.d.ts
  src/app/pages/sign/components/SignForm/sign-form.scss.d.ts
  src/app/pages/sign/components/Tabs/tabs.scss.d.ts
  src/app/pages/sign/sign-page.scss.d.ts
  src/app/shared/components/ButtonIcon/button-icon.scss.d.ts
  src/app/shared/components/Counter/counter.scss.d.ts
  src/app/shared/components/Drawer/drawer.scss.d.ts
  src/app/shared/components/Header/header.scss.d.ts
  src/app/shared/icons/docs/style.scss.d.ts
  src/app/shared/icons/icon.scss.d.ts
  src/app/shared/storybook-helpers/Margin/margin.scss.d.ts
  src/app/shared/ui-kit/Avatar/avatar.scss.d.ts
  src/app/shared/ui-kit/Button/button.scss
  src/app/shared/ui-kit/Button/button.scss.d.ts
  src/app/shared/ui-kit/Form/form.scss.d.ts
  src/app/shared/ui-kit/Input/input.scss.d.ts
  src/app/shared/ui-kit/Label/label.scss.d.ts
  src/app/shared/ui-kit/Link/link.scss.d.ts
  src/app/style/main.scss.d.ts
  tsconfig.json
  webpack/webpack.dev.js
  webpack/webpack.prod.js
Due: tslint, npm run test -- --ci --findRelatedTests

feat: signIn/signUp forms communicate with server feat: add Relay
  .babelrc
  .prettierignore
  data/schema.graphql
  package-lock.json
  package.json
  relay.config.js
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/relay/environment.ts
  src/app/relay/mutations/SignInMutation.ts
  src/app/relay/mutations/SignUpMutation.ts
  src/app/relay/mutations/__generated__/SignInMutation.graphql.ts
  src/app/relay/mutations/__generated__/SignUpMutation.graphql.ts
  src/app/relay/utils.ts
  src/app/shared/components/FormContainer/index.tsx
  src/app/shared/constants/api.ts
  src/app/shared/constants/index.ts
Due: tslint, npm run test -- --ci --findRelatedTests

feat(babel): add optional chaining and nullish coalescing
  .babelrc
  package.json
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/shared/components/FormContainer/index.tsx
Due: tslint, npm run test -- --ci --findRelatedTests

refact: store all route paths in a constant
  Documentation.md
  package-lock.json
  package.json
  src/app/index.tsx
  src/app/pages/not-found/index.tsx
  src/app/pages/sign/components/SignForm/SignInForm/index.tsx
  src/app/pages/sign/components/SignForm/SignUpForm/index.tsx
  src/app/pages/sign/components/Tabs/index.tsx
  src/app/pages/sign/index.tsx
  src/app/routes/chat.ts
  src/app/routes/feed.ts
  src/app/routes/index.ts
  src/app/routes/not-found.ts
  src/app/routes/settings.ts
  src/app/routes/sign.ts
  src/app/routes/types.ts
  src/app/shared/constants/index.ts
  src/app/shared/constants/routes.ts
  src/app/shared/utils/routes/__test__/buildPath.test.ts
  src/app/shared/utils/routes/index.ts
  src/app/types/common.ts
Due: tslint, npm run test -- --ci --findRelatedTests

chore: remove fetching graphql schema on prestart and prebuild
  package.json
Due: none

chore: update storybook
  .storybook/main.js
  package-lock.json
  package.json
  src/app/shared/components/Drawer/drawer.stories.mdx
  src/app/shared/components/Header/header.stories.mdx
  src/app/shared/icons/docs/icons.stories.mdx
  src/app/shared/ui-kit/Avatar/avatar.stories.mdx
  src/app/shared/ui-kit/Button/button.stories.mdx
  src/app/shared/ui-kit/Form/form.stories.mdx
  src/app/shared/ui-kit/Input/input.stories.mdx
  src/app/shared/ui-kit/Label/label.stories.mdx
  src/app/shared/ui-kit/Link/link.stories.mdx
  src/app/shared/utils/dom/index.ts
Due: tslint, npm run test -- --ci --findRelatedTests

chore: update deps
  .eslintrc.js
  package-lock.json
  package.json
  src/app/routes/settings.ts
  webpack/webpack.common.js
  webpack/webpack.dev.js
  webpack/webpack.prod.js
Due: tslint, npm run test -- --ci --findRelatedTests

chore: add serve script
  package-lock.json
  package.json
Due: none

Path conditions:
  tslint: any of: *.{ts,tsx}
  npm run test -- --ci --findRelatedTests: any of: *.{ts,tsx,js,jsx}
